@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* 
================
= Table of Index
================
-- @Root
-- @Basic
-- @ScrollBar
-- @Components
---- @Header
---- @Button
---- @Card
---- @Footer

-- @Pages
---- @Home
---- @Error
*/

/* 
=====
@Root
=====
*/

:root {
  --bg: linear-gradient(0deg, #00121f 0%, #022339 50%, #041a28 100%);
  --bg-2: linear-gradient(180deg, #00121f 0%, #022339 50%, #041a28 100%);
  --bg-3: #052032;
  --bg-main-content: #f5f5f5;

  /* Primary */
  --primary: #3d9edf;
  --secondary: #ff4131;
  --primary-light: #c3c4ef;
  --secondary-light: #ffb8bb;
  --primary-linear-gradient: linear-gradient(270deg, #6e29fb, #9e43f0);

  /* Button */
  --btn-color-1: #f3f4f6;
  --btn-color-2: #e5e7eb;

  /* Link */
  --link-color: #fff;

  /* Font */
  --p-font: 16px;
  --font-family: "Inter", system-ui;
  --font-family-2: "Roboto", system-ui;
  --font-weight-1: 400;
  --font-weight-2: 700;

  /* Priority Order */
  --priority-1: 10;
  --priority-2: 7;
  --priority-3: 5;
  --priority-4: 3;
  --priority-5: 1;
  --priority--1: -1;

  /* Customs */
  --logo-size: 70px;
  --profile-size: 53px;
  --social-icons-size: 30px;
  --navigation-width: 25vw;
}

body {
  margin: 0;
  color: var(--bg-main-content);
  background: var(--bg);
  font-family: var(--font-family);
  scroll-behavior: smooth;
}

a {
  color: var(--link-color);
  text-decoration: none;
  cursor: pointer;
}

.title {
  font-family: var(--font-family-2);
  font-weight: 700;
  font-style: italic;
  font-size: 3vw;
  text-transform: uppercase;
  letter-spacing: 0.6vw;
}

/* 
=============
-- @ScrollBar
=============
*/
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #045082;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #3d9edf;
  border: 5px solid transparent;
  background-clip: content-box;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #0088e2;
  border: 5px solid transparent;
  background-clip: content-box;
  border-radius: 10px;
}

/* 
==============
-- @Components
==============
*/

/* 
============
---- @Header
============
*/

header {
  padding: 10px 15px;
}

header > div:first-child > nav {
  margin-left: 60px;
}

div.signedin > header > div:last-child {
  z-index: var(--priority-4);
}

nav > a {
  padding: 5px 10px;
  margin: 10px 20px;
  border: 3px solid var(--primary);
  border-radius: 5px;
}

nav > a.active {
  font-weight: var(--font-weight-2);
}

nav > ul > a {
  margin: 10px 20px;
}

.logo {
  width: var(--logo-size);
}

/* Navigation */

/* Line Right */
div.signedin > header:before {
  content: "";
  background: var(--bg);
  width: 100px;
  height: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  border-left: 1px solid var(--primary);
}

/* Line Below */
header:after {
  left: 0;
  content: "";
  position: absolute;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  border-bottom: 1px solid var(--primary);
}

/* Sidebar not active profiles */
.header__user-profile {
  width: var(--profile-size);
  height: var(--profile-size);
  background: var(--primary);
  border-radius: 50%;
  margin-right: 0.8vw;
  cursor: pointer;
}

.header__user-friends {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  position: fixed;
  transform: translateY(60px);
}

.header__user-friends > .header__user-profile {
  margin-bottom: 25px;
  width: calc(var(--profile-size) - 10px);
  height: calc(var(--profile-size) - 10px);
  margin-right: 0;
}

/* Background */
.header__navigation_hover {
  background: var(--bg-3);
  width: 0;
  height: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  transition: 0.6s ease all;
}
.header__navigation_hover2 {
  background: #010304;
  opacity: 0.72;
  width: 0;
  height: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.6s ease all;
}

div.active > .header__navigation_hover {
  width: 30vw;
  height: -webkit-fill-available;
  overflow-y: scroll;
}
div.active > .header__navigation_hover2 {
  width: 100vw;
}

/* Container Based spacing */

/* Container */
div > .header__navigation_hover > div {
  margin-top: 20px;
  margin-left: 30px;
}
.header__user {
  transition: 0.5s ease all;
  cursor: pointer;
  z-index: 1;
}
.header__user:hover {
  background: rgb(0 60 100);
  border-radius: 3px;
  padding-left: 55px;
}

.header__user_copy {
  border: 2px solid var(--primary);
  border-radius: 5px;
  width: 30px;
  position: absolute;
  height: 30px;
  border-radius: 2px;
  opacity: 0;
  transition: 0.2s ease all;
  left: 40px;
}
.header__user:hover .header__user_copy {
  opacity: 1;
}
.header__user_copy:hover {
  background: var(--primary);
}

.header__user_cancel {
  border: 2px solid var(--secondary);
  border-radius: 5px;
  width: 30px;
  position: absolute;
  height: 30px;
  border-radius: 2px;
  opacity: 0;
  transition: 0.2s ease all;
  left: 40px;
}
.header__user:hover .header__user_cancel {
  opacity: 1;
}
.header__user_cancel:hover {
  background: var(--secondary);
}

/* Spacing */
.header__loggedin_user > div:nth-child(2),
.header__user > div:nth-child(3) {
  margin: 10px 15px;
}

/* Social */
.header__navigation_hover.priority-4 > div > h3 {
  letter-spacing: 3px;
}

/* Active | Offline | Pending Headings */
.header__navigation_hover.priority-4 > div > div > h4 {
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 400;
}

/* Logged in User */
.header__profile {
  width: var(--profile-size);
  background: var(--primary);
  height: var(--profile-size);
  border-radius: 50%;
}
.header__loggedin_user > div.online > span:nth-child(2) {
  font-size: 14px;
  color: #00f900;
  margin-top: 5px;
}
.header__loggedin_user > div:nth-child(2) > span:first-child {
  font-weight: 500;
}

/* User's Friends */
.header__user > .header__profile {
  z-index: var(--priority-4);
  width: calc(var(--profile-size) - 10px);
  height: calc(var(--profile-size) - 10px);
}
.header__user > div:nth-child(3) > span:first-child {
  font-weight: 500;
  margin-bottom: 5px;
}
.header__user > div:nth-child(3) > span:last-child {
  color: rgb(207, 207, 207);
}

/* Back Button Navigation */
.header__back_button {
  border: 2px solid var(--primary);
  width: var(--profile-size);
  height: var(--profile-size);
  position: fixed;
  top: 50vh;
  transition: 0.2s ease all;
  border-radius: 50%;
  right: calc(var(--navigation-width));
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}
.header__back_button:hover {
  background: var(--primary);
}
.header__back_button > span {
  transform: translateY(-3px);
  color: var(--primary);
  font-size: 2.5vw;
}
.header__back_button:hover > span {
  color: white;
}

div.active .header__back_button {
  opacity: 1;
  right: calc(var(--navigation-width) + 7vw);
}

/* Add Friends */
.header__add_friends {
  color: var(--primary);
  cursor: pointer;
  margin: 20px 0 40px;
}
.header__add_friends > div {
  margin-right: 20px;
  width: calc(var(--profile-size) - 10px);
  height: calc(var(--profile-size) - 10px);
  border: 1px solid var(--primary);
  border-radius: 50%;
  font-size: 1.3vw;
  transition: 0.2s ease all;
}
.header__add_friends:hover > div {
  background: var(--primary);
  color: white;
}

.header__add_friends > div > span {
  transform: translateY(-3px);
  font-size: 2.5vw;
}

/* Add Friends */
.header__add_friends_container {
  position: fixed;
  left: 0;
  top: 0;
}
.header__add_friends_container:before {
  content: "";
  background: var(--bg);
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0.8;
  width: -webkit-fill-available;
  height: 100vh;
  z-index: var(--priority-3);
}

.header__add_friends_container > div {
  z-index: var(--priority-3);
  background: red;
  min-width: 30vw;
  min-height: 30vw;
}

/* 
============
---- @Layout
============
*/
.sidebar {
  position: fixed;
  bottom: 0;
  left: 100px;
  border-right: 1px solid var(--primary);
  height: 100vh;
  z-index: var(--priority-4);
  transition: 1s ease all;
}

.sidebar > div {
  position: fixed;
  bottom: 60px;
  left: 30px;
}

.social__icons > a > img {
  width: var(--social-icons-size);
  margin: 10px 0;
  filter: invert(1);
}
/* 
============
---- @Button
============
*/
.btn {
  padding: 10px 20px;
  background: transparent;
  color: var(--bg-main-content);
  border: 3px solid var(--primary);
  cursor: pointer;
  clip-path: polygon(15% 0%, -35% 100.3%, 98% 95.6%, 101.4% 0, 190% 0%);
  transition: 0.5s ease all;
}
.btn:hover {
  clip-path: polygon(0 0%, 0 150%, 200% 95.6%, 101.4% 0, 190% 0%);
}

.btn-2 {
  padding: 10px 20px;
  background: transparent;
  color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s ease all;
}
.btn-2:hover {
  background: var(--primary);
}
/* 
==========
---- @Card
==========
*/
.card-container {
  margin: 5vw 10vw;
}
.card-container .card__style_1 {
  width: 25vw;
}
.card-container > div:first-child {
  width: 30vw;
}

.card__style_1 {
  border: 1px solid blue;
  height: 15vw;
  width: 20vw;
}

/* 
============
---- @Footer
============
*/

footer {
  background-color: #022237;
  padding: 80px 0;
}

footer li {
  margin-bottom: 20px;
}

.footer__icons > a > img {
  margin: 0 10px;
}

/* 
===========
---- @Pages
===========
*/

.single_sided_spacing {
  margin-left: 100px;
  /*   z-index: var(--priority-5); */
}

div.signedin .single_sided_spacing {
  margin: 0 100px;
  border-left: 1px solid var(--primary);
}

/* 
==========
---- @Home
==========
*/

.home__section_1,
.home__section_2,
.home__section_3,
.home__section_4,
.home__section_5 {
  padding-left: 60px;
}

/* Section 1 (Index) */
.home__section_1 {
  background: linear-gradient(
      rgba(0, 18, 31, 0.82),
      rgb(2, 35, 57, 0.82),
      rgba(4, 26, 40, 0.82)
    ),
    url(/assets/backgrounds/home.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.home__section_1 > div {
  padding-top: 10vw;
}

.home__title {
  width: 50%;
}
.home__title > h1,
.home__title > h2 {
  font-size: 8vw;
  letter-spacing: 15px;
  font-style: inherit;
  padding-bottom: 2vw;
}
.home__title > h1 {
  margin: 0;
}

.home__title > p {
  width: 25vw;
  line-height: 2.3;
  letter-spacing: 1.7px;
  padding-top: 1vw;
}

.home__title > div > button {
  margin-right: 3.6vw;
  font-size: 1.5vw;
  padding: 14px 35px;
  border: 2px solid;
}

.h-line {
  border-bottom: 4px solid #fff;
  width: fit-content;
}

/* Section 2 (About) */

/* Card */
.home__card {
  border: 3px solid var(--primary);
  padding: 20px;
  height: 60vh;
  padding-right: 40px;
}

.home__card > div {
  overflow-y: scroll;
  padding: 5vw 8vw;
  line-height: 2.5;
  height: -webkit-fill-available;
}
.home__card:before {
  position: absolute;
  background: var(--primary);
  content: "";
  width: 8vw;
  height: 2vw;
  transform: translate(-10em, -20px);
  right: 0;
}

.home__card:after {
  position: absolute;
  background: var(--primary);
  content: "";
  width: 8vw;
  height: 2vw;
  transform: translate(-1.4em, -0.5em);
  /*     transform: translate(-1.4em, -1.8em); */
}

/* Scrollbar */
/* width */
.home__card > div::-webkit-scrollbar {
  width: 20px;
}

/* Track */
.home__card > div::-webkit-scrollbar-track {
  background: rgba(63, 159, 222, 0.42);
  margin: 40px;
  border-radius: 10px;
}

/* Handle */
.home__card > div::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border: 5px solid transparent;
  background-clip: content-box;
  border-radius: 10px;
}

/* Handle on hover */
.home__card > div::-webkit-scrollbar-thumb:hover {
  background-color: #0088e2;
  border: 5px solid transparent;
  background-clip: content-box;
  border-radius: 10px;
}

/* Section 3 (Story) */
.hs3_card_container > div > div {
  margin: 25px;
}

/* Section 5 (Newsletter) */
/* */
.newsletter__background {
  background: linear-gradient(rgba(3, 31, 49, 0.7), rgba(3, 31, 49, 0.7)),
    url("https://www.artistichaven.com/wp-content/uploads/2020/10/Easy-Acrylic-Painting-Ideas-for-Beginners-on-Canvas-32.jpg");

  border: solid;
  width: 50vw;
  min-height: 25vw;
  border-color: var(--primary);
  position: relative;
  left: 10vw;
  z-index: 0;
}

.newsletter-contents {
  width: 30vw;
  min-height: 15vw;
  border: solid 3px;
  border-color: var(--primary);
  color: white;
  background-color: #236795;
  position: relative;
  right: 15vw;
  z-index: 10;
  padding: 30px;
}

/* 
===========
---- @Error
===========
*/
.error {
  margin: 0 25vw;
  text-align: center;
  transform: translateY(-5vw);
}

.error__abstract-box_1 {
  background: var(--secondary);
  height: 35px;
  width: 100px;
  position: absolute;
  left: -3.2vw;
  top: 9.1vw;
}
.error__abstract-box_1:after {
  content: "";
  background: var(--secondary);
  opacity: 0.7;
  left: 45px;
  top: 15px;
  height: inherit;
  width: inherit;
  z-index: -1;
  position: absolute;
}
.error__abstract-box_2 {
  top: 20.5vw;
  right: -2.5vw;
  background: rgb(255 65 49 / 70%);
  height: 35px;
  width: 100px;
  position: absolute;
}

.error__abstract-box_2:before {
  content: "";
  background: var(--secondary);
  left: 45px;
  top: 15px;
  height: inherit;
  width: inherit;
  z-index: -1;
  position: absolute;
}

.error > div > h1 {
  font-size: 15vw;
  color: var(--secondary);
  margin: 0;
}

.error > p {
  font-size: 1.17vw;
  width: 110%;
  line-height: 2;
}
.error .btn-2 {
  color: var(--secondary);
  border: 2px solid var(--secondary);
  background: transparent;
}
.error .btn-2:hover {
  background: var(--secondary);
  color: #fff;
}

/* polygon(15% 0%, -35% 100.3%, 98% 95.6%, 101.4% 0, 190% 0%) */
/* polygon(0 0%, 0 150%, 200% 95.6%, 101.4% 0, 190% 0%) */
/* polygon(25% 0%, 10% 100%, 85% 100%, 96% 0%, 0% 0%) */
/* polygon(15% 0%, -35% 110.3%, 808% -54.4%, 151.4% 0%, 0% 0%)*/
