@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* 
================
= Table of Index
================
-- @Root
-- @Basic

-- @Components
---- @Header
---- @Button
---- @Card
---- @Footer

-- @Pages
---- @Home
*/

/* 
=====
@Root
=====
*/

:root {
  --bg: linear-gradient(0deg, #00121f 0%, #022339 50%, #041a28 100%);
  --bg-2: linear-gradient(180deg, #00121f 0%, #022339 50%, #041a28 100%);
  --bg-main-content: #f5f5f5;

  /* Primary */
  --primary: #3d9edf;
  --secondary: #ed6468;
  --primary-light: #c3c4ef;
  --secondary-light: #ffb8bb;
  --primary-linear-gradient: linear-gradient(270deg, #6e29fb, #9e43f0);

  /* Button */
  --btn-color-1: #f3f4f6;
  --btn-color-2: #e5e7eb;

  /* Link */
  --link-color: #fff;

  /* Font */
  --p-font: 16px;
  --font-family: "Inter", system-ui;
  --font-family-2: "Roboto", system-ui;
  --font-weight-1: 400;
  --font-weight-2: 700;

  /* Priority Order */
  --priority-1: 10;
  --priority-2: 7;
  --priority-3: 5;
  --priority-4: 3;
  --priority-5: 1;
  --priority--1: -1;

  /* Customs */
  --logo-size: 70px;
  --profile-size: 53px;
  --social-icons-size: 30px;
}

body {
  margin: 0;
  color: var(--bg-main-content);
  background: var(--bg);
  font-family: var(--font-family);
}

a {
  color: var(--link-color);
  text-decoration: none;
  cursor: pointer;
}

.title {
  font-family: var(--font-family-2);
  font-weight: 700;
  font-style: italic;
  font-size: 3vw;
  text-transform: uppercase;
  letter-spacing: 0.6vw;
}

/* 
==============
-- @Components
==============
*/

/* 
============
---- @Header
============
*/

header {
  padding: 10px 0;
  border-bottom: 1px solid var(--primary);
  /* padding: 10px 15px; */
}

header > div:first-child > nav {
  margin-left: 60px;
}

header > div:last-child {
  margin-right: 80px;
}
div.signedin > header > div:last-child {
  right: 100px;
  z-index: var(--priority-4);
}

nav > a {
  padding: 5px 10px;
  margin: 10px 20px;
  border: 3px solid var(--primary);
  border-radius: 5px;
}

nav > a.active {
  font-weight: var(--font-weight-2);
}

nav > ul > a {
  margin: 20px;
}

.logo {
  width: var(--logo-size);
  /* width: 7.3vw; */
}

div.signedin > header:before {
  content: "";
  background: var(--bg);
  width: 100px;
  height: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  /* border-left: 1px solid var(--primary); */
}

.header__user-profile {
  width: var(--profile-size);
  height: var(--profile-size);
  background: var(--primary);
  border-radius: 50%;
  margin-right: 0.8vw;
}

.header__user-friends {
  position: absolute;
  transform: translateY(25vw);
}

.header__user-friends > .header__user-profile {
  margin-bottom: 25px;
  width: calc(var(--profile-size) - 10px);
  height: calc(var(--profile-size) - 10px);
  margin-right: 0;
}

.header__navigation_hover {
  background: red;
  width: 0;
  height: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  transition: 0.6s ease all;
}
.header__navigation_hover2 {
  background: var(--bg);
  opacity: 0.8;
  width: 0;
  height: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.6s ease all;
}
.header__navigation_hover.active {
  width: 25vw;
}
.header__navigation_hover2.active {
  width: 100vw;
}

/* 
============
---- @Layout
============
*/
.sidebar {
  position: fixed;
  bottom: 0;
  left: 100px;
  /* border-right: 1px solid var(--primary); */
  height: 100vh;
  z-index: var(--priority-4);
  transition: 1s ease all;
}

.sidebar > div {
  position: fixed;
  bottom: 60px;
  left: 30px;
}

.social__icons > a > img {
  width: var(--social-icons-size);
  margin: 10px 0;
  filter: invert(1);
}
/* 
============
---- @Button
============
*/
.btn {
  padding: 10px 20px;
  background: transparent;
  color: var(--bg-main-content);
  border: 3px solid var(--primary);
  cursor: pointer;
  clip-path: polygon(15% 0%, -35% 100.3%, 98% 95.6%, 101.4% 0, 190% 0%);
  transition: 0.5s ease all;
}
.btn:hover {
  clip-path: polygon(0 0%, 0 150%, 200% 95.6%, 101.4% 0, 190% 0%);
}
/* 
==========
---- @Card
==========
*/
.card-container {
  margin: 5vw 10vw;
}
.card-container .card__style_1 {
  width: 25vw;
}
.card-container > div:first-child {
  width: 30vw;
}

.card__style_1 {
  border: 1px solid blue;
  height: 15vw;
  width: 20vw;
}

/* 
============
---- @Footer
============
*/

footer {
  background-color: #022237;
  padding: 80px 0;
}

footer li {
  margin-bottom: 20px;
}

.footer__icons > a > img {
  margin: 0 10px;
}

/* 
===========
---- @Pages
===========
*/

.single_sided_spacing {
  margin-left: 100px;
  /*   z-index: var(--priority-5); */
}

div.signedin .single_sided_spacing {
  margin: 0 100px;
  border-left: 1px solid var(--primary);
  border-right: 1px solid var(--primary);
  /* border-left: 1px solid var(--primary); */
}

/* 
==========
---- @Home
==========
*/

.home__section_1,
.home__section_2,
.home__section_3,
.home__section_4,
.home__section_5 {
  padding-left: 60px;
}

/* Section 1 (Index) */
.home__section_1 {
  background: linear-gradient(
      rgba(0, 18, 31, 0.82),
      rgb(2, 35, 57, 0.82),
      rgba(4, 26, 40, 0.82)
    ),
    url(/assets/backgrounds/home.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.home__section_1 > div {
  padding-top: 10vw;
}

.home__title {
  width: 50%;
}
.home__title > h1,
.home__title > h2 {
  font-size: 8vw;
  letter-spacing: 15px;
  font-style: inherit;
  padding-bottom: 2vw;
}
.home__title > h1 {
  margin: 0;
}

.home__title > p {
  width: 25vw;
  line-height: 2.3;
  letter-spacing: 1.7px;
  padding-top: 1vw;
}

.home__title > div > button {
  margin-right: 3.6vw;
  font-size: 1.5vw;
  padding: 14px 35px;
  border: 2px solid;
}

.h-line {
  border-bottom: 4px solid #fff;
  width: fit-content;
}

/* Section 2 (About) */

/* Card */
.home__card {
  border: 3px solid var(--primary);
  padding: 20px;
  height: 60vh;
  padding-right: 40px;
}

.home__card > div {
  overflow-y: scroll;
  padding: 5vw 8vw;
  line-height: 2.5;
  height: -webkit-fill-available;
}
.home__card:before {
  position: absolute;
  background: var(--primary);
  content: "";
  width: 8vw;
  height: 2vw;
  transform: translate(-10em, -20px);
  right: 0;
}

.home__card:after {
  position: absolute;
  background: var(--primary);
  content: "";
  width: 8vw;
  height: 2vw;
  transform: translate(-1.4em, -0.5em);
  /*     transform: translate(-1.4em, -1.8em); */
}

/* Scrollbar */
/* width */
.home__card > div::-webkit-scrollbar {
  width: 20px;
}

/* Track */
.home__card > div::-webkit-scrollbar-track {
  background: rgba(63, 159, 222, 0.42);
  margin: 40px;
  border-radius: 10px;
}

/* Handle */
.home__card > div::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border: 5px solid transparent;
  background-clip: content-box;
  border-radius: 10px;
}

/* Handle on hover */
.home__card > div::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

/* Section 3 (Story) */
.hs3_card_container > div > div {
  margin: 25px;
}

/* Section 5 (Newsletter) */
/* 

*/
.newsletter__background {
  background: linear-gradient(rgba(3, 31, 49, 0.7), rgba(3, 31, 49, 0.7)),
    url("https://www.artistichaven.com/wp-content/uploads/2020/10/Easy-Acrylic-Painting-Ideas-for-Beginners-on-Canvas-32.jpg");

  border: solid;
  width: 50vw;
  min-height: 25vw;
  border-color: var(--primary);
  position: relative;
  left: 10vw;
  z-index: 0;
}

.newsletter-contents {
  width: 30vw;
  min-height: 15vw;
  border: solid 3px;
  border-color: var(--primary);
  color: white;
  background-color: #236795;
  position: relative;
  right: 15vw;
  z-index: 10;
  padding: 30px;
}
/* polygon(15% 0%, -35% 100.3%, 98% 95.6%, 101.4% 0, 190% 0%) */
/* polygon(0 0%, 0 150%, 200% 95.6%, 101.4% 0, 190% 0%) */
/* polygon(25% 0%, 10% 100%, 85% 100%, 96% 0%, 0% 0%) */

/* 
Old Lines
header:after is fully removed, backup below
div.signedin > header:before
.sidebar
div.signedin .single_sided_spacing 

other changes
header == padding: 10px 15px;

header:after {
  left: 0;
  content: "";
  position: absolute;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  border-bottom: 1px solid var(--primary); 
}



*/

/* 
New Lines

*/
