@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* 
================
= Table of Index
================
-- @Root
-- @Basic

-- @Components
---- @Header
---- @Button
---- @Card
---- @Footer

-- @Pages
---- @Home
*/

/* 
=====
@Root
=====
*/

:root {
  --bg: linear-gradient(0deg, #00121f 0%, #022339 50%, #041a28 100%);
  --bg-2: linear-gradient(180deg, #00121f 0%, #022339 50%, #041a28 100%);
  --bg-main-content: #f5f5f5;

  /* Primary */
  --primary: #3d9edf;
  --secondary: #ed6468;
  --primary-light: #c3c4ef;
  --secondary-light: #ffb8bb;
  --primary-linear-gradient: linear-gradient(270deg, #6e29fb, #9e43f0);

  /* Button */
  --btn-color-1: #f3f4f6;
  --btn-color-2: #e5e7eb;

  /* Link */
  --link-color: #fff;

  /* Font */
  --p-font: 16px;
  --font-family: "Inter", system-ui;
  --font-family-2: "Roboto", system-ui;
  --font-weight-1: 400;
  --font-weight-2: 700;

  /* Priority Order */
  --priority-1: 10;
  --priority-2: 7;
  --priority-3: 5;
  --priority-4: 3;
  --priority-5: 1;
}

body {
  margin: 0;
  color: var(--bg-main-content);
  background: var(--bg);
  font-family: var(--font-family);
}

a {
  color: var(--link-color);
  text-decoration: none;
  cursor: pointer;
}

/* 
==============
-- @Components
==============
*/

/* 
============
---- @Header
============
*/

header {
  padding: 10px 15px;
  border-bottom: 1px solid var(--primary);
}

header > div:first-child > nav {
  margin-left: 60px;
}

header > div:last-child {
  margin-right: 80px;
}

nav > a {
  padding: 5px 10px;
  margin: 10px 20px;
  border: 3px solid var(--primary);
  border-radius: 5px;
}

nav > a.active {
  font-weight: var(--font-weight-2);
}

nav > ul > a {
  margin: 20px;
}

.logo {
  width: 70px;
}

/* 
============
---- @Layout
============
*/
.sidebar {
  position: fixed;
  bottom: 0;
  left: 100px;
  border-right: 1px solid var(--primary);
  height: 100vh;
  z-index: var(--priority-4);
}

.sidebar > div {
  position: fixed;
  bottom: 60px;
  left: 30px;
}

.social__icons > a > img {
  width: 30px;
  margin: 10px 0;
  filter: invert(1);
}
/* 
============
---- @Button
============
*/
.btn {
  padding: 10px 20px;
  background: transparent;
  color: var(--bg-main-content);
  border: 3px solid var(--primary);
  cursor: pointer;
}

/* 
==========
---- @Card
==========
*/
.card-container {
  margin: 5vw 10vw;
}
.card-container .card__style_1  {
  width: 25vw;
}
.card-container > div:first-child {
  width: 30vw;
}

.card__style_1 {
  border: 1px solid blue;
  height: 15vw;
  width: 20vw;
}

/* 
============
---- @Footer
============
*/

footer {
  background-color: #022237;
  padding: 80px 0;
}

footer li {
  margin-bottom: 20px;
}

.footer__icons > a > img {
  margin: 0 10px;
}

/* 
===========
---- @Pages
===========
*/

.single_sided_spacing {
  margin-left: 100px;
/*   z-index: var(--priority-5); */
}

/* 
==========
---- @Home
==========
*/

.home__section_1,
.home__section_2,
.home__section_3,
.home__section_4,
.home__section_5 {
  padding-left: 60px;
}

/* Section 1 (Index) */
.home__section_1 {
  background: linear-gradient(
      rgba(0, 18, 31, 0.82),
      rgb(2, 35, 57, 0.82),
      rgba(4, 26, 40, 0.82)
    ),
    url(/public/assets/backgrounds/home.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.home__section_1 > div:last-child {
  margin-right: 150px;
}
.home__section_1 > div:last-child > p {
  width: 300px;
  line-height: 2;
}

/* Title */
.home__title > h1, .home__title > h2  {
  font-size: 10vw;
  letter-spacing: 15px;
}
.home__title > h1 {
  margin: 0;
}

.h-line {
  border-bottom: 4px solid #fff;
  width: fit-content;
}

/* Card */
.home__card {
  border: 3px solid var(--primary);
  padding: 20px;
}

/* Section 3 (Story) */
.hs3_card_container > div > div {
  margin: 25px;
}

/* Section 5 (Newsletter) */
/* 

*/
.newsletter__background { 
  background: linear-gradient( 
      rgba(3, 31, 49, 0.7), 
      rgba(3, 31, 49, 0.7) 
    ),
    url("https://www.artistichaven.com/wp-content/uploads/2020/10/Easy-Acrylic-Painting-Ideas-for-Beginners-on-Canvas-32.jpg");

  border: solid;
  width:50vw;
  min-height:25vw;
  border-color: var(--primary);
  position: relative;
  left:10vw;
  z-index:0;
}

.newsletter-contents {
  width:30vw;
  min-height:15vw;
  border: solid 3px;
  border-color: var(--primary);
  color: white; 
  background-color:#236795;
  position: relative;
  right:15vw;
  z-index:10;
  padding:30px;
}